
## ignore the following directories
build/
hotspot/
test/
.jcheck/

## ignore the following because we're not targetting for them
src/os/*
!src/os/linux
src/os_cpu/*
!src/os_cpu/linux_x86
src/cpu/*
!src/cpu/x86
src/share/tools/*
!src/share/tools/hsdis

make/aix/
make/solaris/
make/windows/
make/bsd/

## also ignore some classes only used for the SA (for now include the whole agent dir)
## agent/src/os/*
## !agent/src/os/linux
agent/

## some dirs in run (created automatically) must also be renamed
run/scratch/

## ignore all logs file from possbile hs errors
*.log
*.txt

## ignore all class files from possible javac compilations
*.class

## finally ignore the Global Tags' files
GTAGS
GRTAGS
GPATH
